<nav>
  <div class="nav-wrapper">
    <a href="/" >
    </a>
      <li><a href="/scrape">Back to Scraped Articles</a></li>
      <li>
        <a href="https://github.com/NasimFekrat/newspaper" target="blank">Git Hub Repo</a>
      </li>
    </ul>
  </div>
</nav>

<main>

  {{!-- banner telling user if there are saved articles --}}
  <div class="row center">
    <ul class="collection">
      {{#if savedArticle}}
      <li class="collection-item grey white-text">
        <h4>Saved articles.</h4>
      </li>
      {{/if}}
      {{#unless savedArticle}}
      <li class="collection-item grey white-text">
        <h4>You don't have any saved articles.</h4>
      </li>
      {{/unless}}
    </ul>
  </div>

  <div class="container">
    <div class="row">
      {{#each savedArticle}}
      <div class="col l4">
        <div class="card hoverable">
          {{!-- image --}}
          <div class="card-image">
            <a class="articleLink" href={{this.link}} target="blank"><img src="{{this.imgLink}}"></a>
          </div>
          {{!-- collapsible content (title with teaser, add note, read notes and delete article) --}}
          <div class="card-content" style="padding: 0;">
            <ul class="collapsible" data-collapsible="accordion">
              <!-- Article Drop Down -->
              <li>
                <div style="background-color: white;" class="collapsible-header grey lighten-2">
                  <div style="clear: left; line-height: 110%; padding-bottom: 10px; padding-top: 10px;"><span><i class="material-icons"
                        style="font-size:36px; line-height: 1.6rem;">expand_more</i><b>{{this.title}}</b></span></div>
                </div>
                <div class="collapsible-body" style="background-color: white;">
                  <p>
                    {{this.teaser}}

                    <br><br>

                    <i>You can read the full article <a href="{{link}}" target="_new">here</a>.</i>
                  </p>
                </div>
              </li>
              <!-- Add Comments Drop Down -->
              <li>
                <div class="collapsible-header">Add a Note</div>
                <div class="collapsible-body" style="background-color: white;">
                  <form id="form-add-{{this.id}}" action="/articles/{{this.id}}" method="post" style="background-color: white;">
                    <!--  Title input -->
                    <div class="row">
                      <div class="input-field col s12">
                        <input id="noteTitle" name="title" type="text" class="validate">
                        <label for="author_name">Note Title:</label>
                      </div>
                    </div>
                    <!-- Comment Input -->
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="noteBody" name="body" class="materialize-textarea"></textarea>
                        <label for="comment_box">Your Note:</label>
                      </div>
                    </div>
                    <!-- Submit Button -->
                    <div class="row">
                      <div class="input-field col s12">
                        <center><input class="btn add-comment-button" id="note" data-id="{{this.id}}" type="submit"
                            value="Submit"></center>
                      </div>
                    </div>
                  </form>
                </div>
              </li>
              <!-- View Comments Drop Down -->
              <li>
                <div class="collapsible-header" id="note">View Notes</div>
                <div class="collapsible-body" style="background-color: white;">
                  {{!-- Check if the article has notes --}}
                  {{#if this.note}}
                  {{!-- Article has notes iterate over them --}}
                  <ul class="collection">
                    {{#each this.note}}
                    <li class="collection-item">
                      {{!-- Add the title of the note --}}
                      <h5>{{this.title}}</h5>
                      {{!-- Add the Content of the Note --}}
                      <p>{{this.body}}</p>
                      {{!-- Add a Delete Button --}}
                      <span class="badge">
                        <form id="form-delete-{{this.id}}" action="/delete/notes/{{this.id}}?_method=DELETE" method="POST">
                          <input class="btn-small delete-comment-button" id="deleteNote" data-id="{{this.id}}" type="submit"
                            value="Delete" style="color: white; background-color: black; border-color: grey;">
                        </form>
                      </span>
                      <br>
                    </li>
                    {{/each}}
                  </ul>
                  {{!-- If there aren't any notes, display message --}}
                  {{else}}
                  <p>There are no notes for this article</p>
                  {{/if}}
                </div>
              </li>
              {{!-- delete article button --}}
              <li>
                <div class="collapsible-header" id="delete" data-id="{{this.id}}">Delete Article</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>